div{
    background-color: #4CAF50;
}
.box1{
    position: absolute;
    top: 4%;
    left: 6%;
    width: 175px;
    height: 100px;
}
.box2{
    position: absolute;
    top: 9.5%;
    right: 3%;
    width: 170px;
    height: 180px;
}
.box3{
    position: fixed;
    bottom: 15%;
    right: 50%;
    width: 100px;
    height: 185px;
}