h2{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
p{
    text-align: justify;
}
.strong{
    font-weight: bolder;
}
.second{
    word-spacing: 20%;
    text-align: left;
}
.last{
    font-size: 1.5em;
    color: red;
    
}